@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(319.6deg, rgb(231, 114, 153) 20.5%, rgb(235, 60, 7) 110.9%);

}
.hero{
  width:100%;
  height:100vh; 
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content: top;
}
.card-body{
    padding: 0%;
    border:1px solid #9b9292;
    border-radius: 30px;
    background: linear-gradient(319.6deg, rgb(231, 114, 153) 20.5%, rgb(224, 123, 27) 110.9%);
    margin-right: 3%;

}
.social{
    display: flex;
}
.social a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.05) ;
    margin: 0 30px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.social a .fa-brands {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5ms;
}
.social a::after{
    content: '';
    width:100%;
    height: 100%;
    top: -98px;
    left: 0;
    background:linear-gradient(-45deg,#465864,#3273b4);
    position: absolute;
    transition: 0.5s;
}
.social a:hover::after{
    top: 0;
}
.social a:hover.fa-brands{
    color: #fff;
}
.container-fluid{
    background:linear-gradient(-100deg,#394e79,#d2dddf);
}
.dropdown-menu{
    position: relative;
    display: inline block;
    padding-bottom: 0%;
}
.dropdown-item{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px;
    z-index: 1;
    

}
.dropdown-menu:hover .dropdown-item{
    display: block;
}
.containt{
    width: fit-content;
    height: fit-content;
    position: inherit;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.containt h1{
    position: inherit;
    top:100%;
    left: 150%;
    transform: translate(100%,50%);
    color: #020202;
    font-size: 24px;
    font-weight: 500;
    font-style:italic;
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;

}
.searchr{
    width: 20%;
    height: 20%;
    max-width: 700%;
    outline: none;
    align-items: center;
    margin: 5px;
    
    padding: 1px;
    background-color: #b1b9c5;
    border-radius: 10px;
    
}
.serchbutton{
    height: 15%;
    width: 5%;
   
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    outline: none;
    background-color: #217474;
}
.d-flex{
    width: 100%;
    padding: 2%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
