@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: black;

}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;

}
.navlist{
    display: flex;
}
.navlist a{
    font-size:1rem;
    font-weight: 500;
    color: #c3cad5;
    margin-left:40px ;
    transition: all .50s ease;
}
.navlist a:hover{
    color: #13bbff;
    text-shadow: 3px 3px 20px #13bbff,-2px 1px 30px #fff;
}
.hero{
  width:100%;
  height:100vh; 
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content: top;

  color: #d2dddf;
}
.card-body{
    padding: 0%;
    border:1px solid #9b9292;
    border-radius: 30px;
    background: rgb(255,0,31);
background: linear-gradient(90deg, rgba(255,0,31,1) 7%, rgba(2,0,36,1) 59%, rgba(121,9,22,1) 80%);
    margin-right: 3%;
    -webkit-text-fill-color: white;

}
.social{
    display: flex;
    
}
.social a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.05) ;
    margin: 0 30px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color:#56ffff ;
}
.social a .fa-brands {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5ms;
}
.social a::after{
    content: '';
    width:100%;
    height: 100%;
    top: -98px;
    left: 0;
    background:linear-gradient(-45deg,#465864,#3273b4);
    position: absolute;
    transition: 0.5s;
}
.social a:hover::after{
    top: 0;
}
.social a:hover.fa-brands{
    color: #fff;
}
.container-fluid{
    background:linear-gradient(-100deg,#394e79,#d2dddf);
}
.dropdown-menu{
    position: relative;
    display: inline block;
    padding-bottom: 0%;
}
.dropdown-item{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px;
    z-index: 1;
    

}
.dropdown-menu:hover .dropdown-item{
    display: block;
}

.searchr{
    width: 20%;
    height: 20%;
    max-width: 700%;
    outline: none;
    align-items: center;
    margin: 5px;
    
    padding: 1px;
    background-color: #b1b9c5;
    border-radius: 10px;
    
}
.serchbutton{
    height: 15%;
    width: 5%;
   
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    outline: none;
    background-color: #217474;
}
.d-flex{
    width: 100%;
    padding: 2%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-family: cursive;
    text-align: center;
    color: #fff;
}
.container h1:hover{
    color: #56ffff;
    cursor: pointer;
    text-shadow: 0 0 10px #10d3c3, 0 0 20px #350202, 0 0 42px #0fa, 0 0 82px rgb(20, 112, 81),0 0 92px #0fa;
}
#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }
